{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}AmeniDC Home{% endblock %}
{% block head %}
  {{ super() }}

  
  <!-- CartoDB resources -->
  <link href="{{ url_for('static', filename='carto.css') }}" 
    rel="stylesheet" type="text/css">
  <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js">
  </script>

  
  <!-- nvd3 resources -->
  <link href="{{ url_for('static', filename='nv.d3.css') }}" 
    rel="stylesheet" type="text/css">
  <script src="{{ url_for('static', filename='d3.min.js') }}" 
    charset="utf-8"></script>
  <script src="{{ url_for('static', filename='nv.d3.js') }}"></script>
  <script src="{{ url_for('static', filename='stream_layers.js') }}">
    </script>
  
  <style>
    #bar_plot {
      margin: auto;
      width: 80%;
      height: 80vh;
    }
    #address {
      width: 50%;
    }
    svg {
        display: block;
    }
    #chart1, svg {
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
    }
  </style>



{% endblock head %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>AmeniDC</h1>
      <p> See the cost of living near amenities in the District of 
          Columbia
      </p>
    </div>
  </div> <!--jumbotron-->

  <div class="container" style="margin:auto; margin-top:1%; width:90%">
    <h5>Use the toolbar on the right to view zip code properties. Layers
      correspond to mean sale price, and average number of groceries, 
      restaurants, and Metro stations within a 1 km radius. Click on 
      a particular zipcode to see the stats of more amenities.</h5>
    <table>
      <tr>
        <td id="map"></td>
        <td id="layer_selector" class="cartodb-infobox">
          <ul>
            {% for db_name, disp_name in map_layers %}
              <li data="{{ db_name }}">{{ disp_name }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </table>

    <script type="text/javascript">
      var carto = {{ cartodb_map|tojson }};
      {% include "cartodb_amenidc.js" %} 
    </script>
  </div> 


  <script type="text/javascript">
    $(function() {
      var submit_form = function(e) {
        $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
          a: $('input[name="a"]').val(),
          b: $('input[name="b"]').val()
        }, function(data) {
          $('#result').text(data.result);
          $('input[name=a]').focus().select();
        });
        return false;
      };
      $('a#calculate').bind('click', submit_form);
      $('input[type=text]').bind('keydown', function(e) {
        if (e.keyCode == 13) {
          submit_form(e);
        }
      });
      $('input[name=a]').focus();
    });
  </script>
  <h1>jQuery Example</h1>
  <p><input type="text" size="5" name="a"> +
     <input type="text" size="5" name="b"> =
     <span id="result">?</span>
  <p><a href=# id="calculate">calculate server</a>
  
  <div class="container" style="margin:auto; margin-top:5%; width:90%">
    <!-- Put the address query form here -->
    <h5> Enter a DC street address below to see a predicted sale price
    and how the location stacks up against other properties in its
    zipcode. </h5>
    {% from "_formhelpers.html" import render_field %}
    <form method=post action="/index" role="form">
      <dl>
        {{ render_field(form.address) }}
        <i>(e.g., 1600 Pennsylvania Ave)</i>
      </dl>
    </form>    
    
    <!-- Put the bar plots here -->
    <div id="bar_plot"> 
      <div id="chart1" class='with-3d-shadow with-transitions'>
          <svg></svg>
      </div>
      <script type="text/javascript"  
        src="{{ url_for('static',filename='multiBar.js') }}">
      </script>
    </div>
  </div>
  
  <hr>

  
  
    
{% endblock content%}
