{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %}AmeniDC Home{% endblock %}
{% block head %}
  {{ super() }}

  
  <!-- CartoDB resources -->
  <link href="{{ url_for('static', filename='carto.css') }}" 
    rel="stylesheet" type="text/css">
  <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js">
  </script>

  
  <!-- nvd3 resources -->
  <link href="{{ url_for('static', filename='nv.d3.css') }}" 
    rel="stylesheet" type="text/css">
  <script src="{{ url_for('static', filename='d3.min.js') }}" 
    charset="utf-8"></script>
  <script src="{{ url_for('static', filename='nv.d3.js') }}"></script>
  <script src="{{ url_for('static', filename='stream_layers.js') }}">
    </script>
  
  <style>
    #bar_plot {
      margin: auto;
      width: 80%;
      height: 80vh;
    }
    #address {
      width: 50%;
    }
    svg {
        display: block;
    }
    #chart1, svg {
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
    }
  </style>

  
{% endblock head %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>AmeniDC</h1>
      <p> See the cost of living near amenities in the District of 
          Columbia
      </p>
    </div>
  </div> <!--jumbotron-->

  <div class="container" style="margin:auto; margin-top:1%; width:90%">
    <h5>Use the toolbar on the right to view zip code properties. Layers
      correspond to mean sale price, and average number of groceries, 
      restaurants, and Metro stations within a 1 km radius. Click on 
      a particular zipcode to see the stats of more amenities.</h5>
    <table>
      <tr>
        <td id="map"></td>
        <td id="layer_selector" class="cartodb-infobox">
          <ul>
            {% for db_name, disp_name in map_layers %}
              <li data="{{ db_name }}">{{ disp_name }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    </table>

    <script type="text/javascript">
      var carto = {{ cartodb_map|tojson }};
      {% include "cartodb_amenidc.js" %} 
    </script>
  </div> 


  
  <div class="container" style="margin:auto; margin-top:5%; width:90%">
    <!-- Put the address query form here -->
    <h5> Enter a DC street address below to see a predicted sale price
    and how the location stacks up against other properties in its
    zipcode. </h5>
    <script type="text/javascript">
      $(function() {
        var submit_form = function(e) {
          $.getJSON($SCRIPT_ROOT + '/_run_address', {
            a: $('input[name="a"]').val()
          }, function(data) {
            $('input[name=a]').focus().select();
            $('#get_address_result').text(data.result);
            someFun(data.result_df)
            histWrapper(data.result_df)
          });
          return false;
        };
        $('a#calculate').bind('click', submit_form);
        $('input[type=text]').bind('keydown', function(e) {
          if (e.keyCode == 13) {
            submit_form(e);
          }
        });
        $('input[name=a]').focus();
      
        var someFun = function(new_data) {
          $('#foo').text(new_data.key);
        };

  
        var histWrapper = function(new_data) {
          var chart;
          d3.selectAll("svg > *").remove()
          nv.addGraph(function() {
              chart = nv.models.multiBarHorizontalChart()
                  .x(function(d) { return d.label })
                  .y(function(d) { return d.value })
                  .yErr(function(d) { return [-Math.abs(d.value * Math.random() * 0.3), Math.abs(d.value * Math.random() * 0.3)] })
                  .barColor(d3.scale.category20().range())
                  .duration(250)
                  .margin({left: 150})
                  .stacked(false)
                  .showControls(false);

              chart.yAxis.tickFormat(d3.format(',.2f'));

              chart.yAxis.axisLabel('Count or Price / $10,000');
              //chart.xAxis.axisLabel('Amenity Type').axisLabelDistance(20);

              d3.select('#chart1 svg')
                  .datum(new_data)
                  .call(chart);

              nv.utils.windowResize(chart.update);

              chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });
              chart.state.dispatch.on('change', function(state){
                  nv.log('state', JSON.stringify(state));
              });
              return chart;
          });

        };
        histWrapper(long_short_data)
      });


    </script>
    <p><input type="text" size="70" name="a">
       <i>(e.g., 1600 Pennsylvania Ave)</i>
    <p><a href=# id="calculate">Get Results</a>
  
    <h1 id="get_address_result"></h1>

    <!-- Put the bar plots here -->
    <div id="bar_plot"> 
      <div id="chart1" class='with-3d-shadow with-transitions'>
          <svg></svg>
      </div>
      <!--script type="text/javascript"  
        src="{{ url_for('static',filename='multiBar.js') }}">
      </script-->
    </div>
  </div>
  
  <hr>

  
  
    
{% endblock content%}
